[Desktop Entry]
Name=Dynamic Workspaces
Comment=Automatically adds and removes workspaces when windows move to empty ones
Icon=preferences-system-windows-script-test

X-KDE-PluginInfo-Author=d86leader
X-KDE-PluginInfo-Email=d86leader@mail.com
X-KDE-PluginInfo-Name=dynamic_workspaces
X-KDE-PluginInfo-Website=https://github.com/d86leader/dynamic_workspaces
X-KDE-PluginInfo-Version=0.3.0
X-KDE-PluginInfo-License=BSD
X-KDE-PluginKeyword=dynamic_workspaces
X-KDE-PluginInfo-EnabledByDefault=true

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-ParentComponents=max2NewVirtualDesktop

X-KDE-PluginInfo-Depends=
X-KDE-ServiceTypes=KWin/Script,KCModule
